# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

appunti_f25.txt
appunti.txt
/projects/seabook/src/app/utils/utils-api.ts
/projects/seabook/public/covers
/projects/seabook/src/app/refactor/_*

/projects/seabook/src/app/refactor/eligere*
/projects/seabook/src/app/olds


/projects/seabook/src/app/components/search-isbn/_*
/projects/game01/_*

/projects/game01/eligere*
